@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
header {
  background-color: #f8df1f;
}
span {
  color: #ee252f;
}
button {
  background-color: #f8df1f;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
section {
  background-color: #f3f3f3;
}
hr {
  color: #f8df1f;
}
footer {
  background-color: #080801;
}
body {
  font-family: 'Roboto', sans-serif;
}
