@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: @color-primary;
  padding: 40px;
  ul {
    li {
      display: inline;
      padding: 30px;
    }
  }
}

body {
  font-family: @font;
  main {
    max-width: 1400px;
    margin: auto;
  }
}

.container1 {
  background-image: url("../img/banner-bg.jpg");
  width: 100%;
  max-width: 1400px;
  text-align: center;
  padding: 100px 0;
  .top-logo {
    padding-bottom: 20px;
  }
}

p {
  .para();
}

.container-fluid {
  padding: @con;
  .bob {
    padding-bottom: 20px;
 }
}

.bg {
  background-color: @bg;
}

span {
  color: @span-color;
}

button {
  .button();
}

hr {
  max-width: 1380px;
  margin: auto;
  border: 10px solid @color-primary;
}

footer {
  background-color: @footer;
  max-width: 1400px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  .logo {
    max-width: 400px;
    width: 100%;
  }
}

//Media Queries

@media (max-width: 768px) {
  .container-fluid {
    padding: 60px;
  }
}

@media (max-width: 700px) {
  p {
    font-size: 12px;
  }

  ul {
    display: block;
    max-width: 150px;
  }

  ul li {
    font-size: 14px;
    line-height: 2.5;
  }

  img {
    max-width: 75%;
  }
}

@media (max-width: 575px) {
  .img {
    display: none;
  }
}
